<!-- IF MCHAT_ENABLE and S_MCHAT_ON_INDEX and SCRIPT_NAME != "app/chat" and S_MCHAT_LOCATION == 2 -->
<style>
@media only screen and (min-width: 1050px), only screen and (min-device-width: 1050px) {
    #page-body {
        clear: none;
        width: 70%;
        float: left;
    }
    #page-body2{
        width: 29%;
        float:right;
    }
}
@media only screen and (max-width: 1050px), only screen and (max-device-width: 1050px) {
    #page-body {
        clear: both;
        width: 100%;
        float: none;
    }
    #page-body2{
        width: 100%;
        float: none;
    }
}    
</style>
    <div id="page-body2">
        <!-- INCLUDE mchat_body.html -->
    </div>
<!-- ENDIF -->
