

	{% block form %}
			<form method="post" action="javascript://" onsubmit="mChat.add();" id="postform">
			<div class="mChatPanel">
				<noscript><div class="mchat_alert">{L_MCHAT_NOJAVASCRIPT}</div></noscript>
				<!-- IF MCHAT_ADD_MESSAGE -->
				<input type="hidden" name="mode" value="add" />
				<!-- IF MCHAT_INPUT_TYPE --><input type="text" name="message" class="inputbox medium mChatText" id="mChatMessage" /><!-- ELSE -->
				<textarea name="message" class="inputbox mChatText" id="mChatMessage" onkeypress="mChat.key(event);" cols="32" rows="5" style="width: 50em;height: 6em;"></textarea><!-- ENDIF --><br />
				<input id="submit_button" type="button" class="button2" onclick="mChat.add();" value="{L_MCHAT_ADD}" />
				<input id="mChatClear" type="button" class="button2" onclick="mChat.clear();" value="{L_MCHAT_CLEAR_INPUT}" />
				<!-- IF MCHAT_ALLOW_SMILES and .smiley -->
				<input type="button" class="button2" onclick="mChat.toggle('Smiles');" value="{L_MCHAT_SMILES}" />
				<!-- ENDIF -->
				<!-- IF MCHAT_ALLOW_BBCODES -->
				<input type="button" class="button2" onclick="mChat.toggle('BBCodes');" value="{L_MCHAT_BBCODES}" />
				<!-- ENDIF -->
				<!-- ENDIF -->
				<!-- EVENT dmzx_mchat_buttons_mid -->
				<!-- IF MCHAT_READ_ARCHIVE_BUTTON -->
				<input type="button" class="button2" onclick="window.location.href = '{MCHAT_ARCHIVE_URL}';" value="{L_MCHAT_ARCHIVE}" />
				<!-- ENDIF -->
				<!-- IF MCHAT_FOUNDER -->
				<input type="button" class="button2" onclick="window.location.href = '{MCHAT_CLEAN_URL}';" value="{L_MCHAT_CLEAN}" />
				<!-- ENDIF -->
				<!-- IF MCHAT_ADD_MESSAGE -->
				<!-- IF MCHAT_RULES -->
				<input type="button" class="button2" onclick="popup('{U_MCHAT_RULES}', 450, 275); return false;" value="{L_MCHAT_HELP}" />
				<!-- ENDIF -->
				<!-- EVENT dmzx_mchat_buttons_after -->
				<!-- IF MCHAT_ALLOW_BBCODES -->
					<!-- INCLUDE mchat_bbcodes.html -->
				<!-- ENDIF -->
				<!-- ENDIF -->
				{S_FORM_TOKEN}
				<!-- IF MCHAT_ALLOW_SMILES and .smiley -->
				<div id="mChatSmiles" style="padding: 5px; display: none;">
					<!-- BEGIN smiley -->
					<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
					<!-- END smiley -->
					<a href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
				</div>
				<!-- ENDIF -->
				<!-- EVENT dmzx_mchat_body_smiley_after -->
			</div>
			</form>
	{% endblock %}
